<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - VASTRA</title>
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>

<body>

    
    <div class="auth-container">

        <div class="left-panel">
            <h1>VASTRA.</h1>
            <p>
                Welcome back!<br>
                Minimal fashion, premium quality.
            </p>
        </div>

        <div class="right-panel">
            <div class="form-box">
                <h2>Welcome Back</h2>

                <form data-form="login" autocomplete="off">
                    <div class="input-group">
                        <input type="email" name="login_email" placeholder="Email" autocomplete="username" required>
                    </div>

                    <div class="input-group">
                        <input type="password" name="login_pass" placeholder="Password" autocomplete="new-password" required>
                    </div>

                    <button type="submit">Login</button>
                </form>

                <div class="switch">
                    Don't have an account?
                    <a href="/signup">Sign Up</a>
                </div>

                <div class="switch" style="margin-top: 8px;">
                    Want to sell your brand on Vastra?
                    <a href="/brand/register">Add your brand for selling clothes</a>
                </div>
            </div>
        </div>

    </div>

    <script src="/js/auth.js"></script>
</body>
</html>
