<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VASTRA</title>
    
    <link rel="stylesheet" href="/css/shop.css" />
    <link rel="stylesheet" href="/css/navbar.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <div id="navbar"></div>

    <script src="/js/navbar.js"></script>

    <main>
      <h1>NEW ARRIVALS</h1>

      <div class="container">
        <aside class="sidebar">
          <div class="search-bar">
            <input type="text" placeholder="Search" />
          </div>
          
          <div class="filter-section">
            <h3>FILTER <span>−</span></h3>
            <ul>
              <li><input type="checkbox" checked /> All</li>
              <li><input type="checkbox" /> Scarf</li>
              <li><input type="checkbox" /> Blazer</li>
              <li><input type="checkbox" /> Dress</li>
              <li><input type="checkbox" /> Shirt</li>
            </ul>
          </div>

          <div class="filter-section">
            <h3>CATEGORY <span>+</span></h3>
          </div>
          <div class="filter-section">
            <h3>COLORS <span>+</span></h3>
          </div>
        </aside>

        <section class="content">
          <div class="grid-controls">
            <span>517 Items</span>
            <select>
              <option>Sort by: All Items</option>
            </select>
          </div>

          <div class="product-grid"></div>
        </section>
      </div>
    </main>
    <script src="/js/shop.js"></script>
    <script src="/js/footer.js"></script>
  </body>
</html>
